<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Creating a Scene</title>
    <style>
      body { margin: 0; }
      canvas { width: 100%; height: 100% }
    </style>
  </head>
  <body>
    <script src="/js/three.js"></script>
    <script>
      var scene = new THREE.Scene();
      var camera = new THREE.PerspectiveCamera(80, window.innerWidth /
      window.innerHeight, 0.1, 1000);
      
      var renderer = new THREE.WebGLRenderer();
      renderer.setSize(window.innerWidth, window.innerHeight);
      document.body.appendChild(renderer.domElement);
      
      var geometry = new THREE.BoxGeometry(1,1,1);
      var material = new THREE.MeshBasicMaterial({ color: 0x00ff00 });
      var cube = new THREE.Mesh(geometry, material);
      scene.add(cube);
     
      var geometry2 = new THREE.PlaneGeometry(10,10,0);
      var material2 = new THREE.MeshBasicMaterial( {color: 0x0000ff, side: THREE.DoubleSide} );
      var plane = new THREE.Mesh(geometry2, material2);
      scene.add(plane);
      
      cube.position.x = 0;
      cube.position.y = 0;
      cube.position.z = 1;
      camera.position.x = cube.position.x;
      camera.position.y = cube.position.y - 2;
      camera.position.z = cube.position.z + 1;
      camera.rotation.x = 1;
      
      var moveForward = false;
      var moveLeft = false;
      var moveBackward = false;
      var moveRight = false;

      document.addEventListener( 'keydown', function(e) {
        switch ( e.keyCode ) {
          case 87: // w
            moveForward = true;
            break;
          case 65: // a
            moveLeft = true;
            break;
          case 83: // s
            moveBackward = true;
            break;
          case 68: // d
            moveRight = true;
            break;
        }
      }, false );

      document.addEventListener( 'keyup', function(e) {
        switch ( e.keyCode ) {
          case 87: // w
            moveForward = false;
            break;
          case 65: // a
            moveLeft = false;
            break;
          case 83: // s
            moveBackward = false;
            break;
          case 68: // d
            moveRight = false;
            break;
        }
      }, false );

      var animate = function() {
        requestAnimationFrame(animate);
        if(moveForward) {
          cube.position.y += 0.1;
          camera.position.y = cube.position.y - 2;
        } else if(moveLeft) {
          cube.position.x -= 0.1;
          camera.position.x = cube.position.x;
        } else if(moveBackward) {
          cube.position.y -= 0.1;
          camera.position.y = cube.position.y - 2;
        } else if(moveRight) {
          cube.position.x += 0.1;
          camera.position.x = cube.position.x;
        }
        renderer.render(scene, camera);
      }

      animate();
    </script>
  </body>
</html>
